.bg-deepimage {
    background: #1a657b !important;
}

.bg-di-lighter {
    background: #538998 !important;
}

.logo {
    image-rendering: pixelated;
}

html, body {
    background-color: #d9edf3 !important;
}

.navbar {
    height: 50px;
}