.bg-deepimage {
    background: #1d5263 !important;
}

.bg-di-lighter {
    background: #3f6f7c !important;
}

.logo {
    image-rendering: auto;
}

body {
    background-color: #bbd3da !important;
}

.main-navbar {
    height: 45px;
    position: fixed !important;
    z-index: 1;
    width: 100%;
    top: 0px;
}

.content {
    margin-top: 120px;
}

.card {
    border: 0px !important;
}