.bg-deepimage {
    background: #0c3d4d !important;
}

.bg-di-lighter {
    background: #3f6f7c !important;
}

.logo {
    image-rendering: auto;
}

body {
    /* background-color: #d9edf3 !important; */
    background-image: url('../img/wallpaper.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-navbar {
    height: 40px;
    position: fixed !important;
    z-index: 1;
    width: 100%;
    top: 0px;
}

.content {
    margin-top: 80px;
}

.card {
    border: 0px !important;
}