{% extends 'webimage/gallery.html' %}
{% block navigation %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webimage:gallery' %}">Users</a>
    </li>
    <li>
        <div class="nav-link"> ></div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webimage:gallery_user' profile.username %}">{{ profile.username }}</a>
    </li>
    <li>
        <div class="nav-link"> ></div>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           href="{% url 'webimage:gallery_user_album' profile.username album.uuid %}">{{ album.name }}</a>
    </li>
    <li>
        <div class="nav-link"> ></div>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="">{{ photo_name }}</a>
    </li>
{% endblock %}
{% block mainitem %}
    <div class="card mb-2">
        <div class="card-body">
            {% if profile == user %}
                <div class="float-right btn-group" role="group">
                    <form class="m-1" action="{% url 'webimage:photo_tagging' album.uuid photo.uuid %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-warning" type="submit">
                            <i class="fa fa-tags"></i> Update tags
                        </button>
                    </form>
                    <form class="m-1" action="{% url 'webimage:photo_delete' album.uuid photo.uuid %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit" onclick="return confirm('Delete this photo?')">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </div>
            {% endif %}
            <h5>
                <span class="text-primary">@</span><span class="text-secondary">{{ profile.username }}</span>
                <span>:</span>
                <a class="text-secondary" href="{{ photo.photo.url }}">{{ photo_name }}</a>
            </h5>
            <br>
            <ul class="list-group">
                <li class="list-group-item text-center bg-di-2xlighter">
                    {% if tags|length != 0 %}
                        {% for pt in tags %}
                            <div class="badge badge-secondary">
                                <a style="text-decoration: none;" class="text-white"
                                   href="{% url 'webimage:gallery_tags_tag' pt.tag.tag %}">{{ pt.tag.tag }}</a>
                                {% if profile == user %}
                                <a class="text-light" onclick="$('#{{ pt.uuid }}').submit()">
                                    <i class="fa fa-times"></i>
                                </a>
                                    <form id="{{ pt.uuid }}" method="post"
                                          action="{% url 'webimage:photo_tag_delete' album.uuid photo.uuid pt.uuid %}">
                                        {% csrf_token %}
                                    </form>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <span class="text-secondary">This photo has no tags yet. :(</span>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    <div class="card bg-di-gallery text-center">
        <img class="deepimage-img mb-5 mt-5" src="{{ photo.photo.url }}">
    </div>
{% endblock %}