{% extends 'webimage/gallery.html' %}
{% block navigation %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webimage:gallery_tags' %}">Tags</a>
    </li>
    {% if filter %}
        <li class="nav-item">
            <a class="nav-link disabled">></a>
        </li>
        <li class="nav-item>">
            <a class="nav-link disabled">Search results for <i>{{ filter }}</i></a>
        </li>
    {% endif %}
{% endblock %}
{% block gallery %}
    {% if tags|length > 0 %}
        {% for tag in tags %}
            <div class="col-sm-6 col-md-4 col-lg-3 mt-2 mb-2">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link badge badge-secondary"
                           href="{% url 'webimage:gallery_tags_tag' tag.tag.tag %}">
                            <i class="fa fa-tag"></i>
                            <span class="text-primary"></span>
                            <span class="text">
                                {% if tag.tag.tag|length < 12 %}
                                    {{ tag.tag.tag }}
                                {% else %}
                                    {{ tag.tag.tag|slice:"0:12"}}..
                                {% endif %}
                            </span>
                        </a>
                        <span class="text-secondary float-right">{{ tag.usages }} usages</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="text-center w-100">
            <span class="text color-di">No results were found :(</span>
        </div>
    {% endif %}
{% endblock %}